@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');

.questions {
	font-size:20px;
}

#hello-heading {
	text-align: center;
	font-family: 'Bungee Outline', cursive;

}

#findout {
	float: bottom;
	margin-left:10%;
	margin-right:10%;
}

#learnmore {
	margin-top: 95%;
	color:white;
}

#takeQuiz {
	margin-top:60%;
}
#aura {
	font-family: 'Bungee Outline', cursive;
	text-align:center;
	color: white;
}

#whatIsAnAura {
	margin-top:15px;
}

.meaning {
	font-size:14px;
	color: white;
}
#measure {
	padding-top:10px;
}