<ion-view title="quiz" id="page3">
  <ion-content padding="true" class="has-header">
 
  <!--emoji css code-->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <h2>Choose the option that currently suits you</h2>
		
	<h4>1. What is your current mood?</h4>
	<form action="" class="questions">
		<input type="radio" ng-model="quizVM.colors.one" value="yellow"> <i class="em  em-blush"></i><br>
		<input type="radio" ng-model="quizVM.colors.one" value="blue"> <i class="em  em-disappointed"></i><br>
		<input type="radio" ng-model="quizVM.colors.one" value="green"> <i class="em  em-grimacing"></i><br>
		<input type="radio" ng-model="quizVM.colors.one" value="red"> <i class="em  em-angry"></i><br>
		<input type="radio" ng-model="quizVM.colors.one" value="orange"> <i class="em  em-heart_eyes"></i><br>
		<input type="radio" ng-model="quizVM.colors.one" value="purple"> <i class="em   em-neutral_face"></i>
	<!--{{quizVM.colors.one}}-->

	<h4>2. Choose the most appealing one.</h4>
 	
		<input type="radio" ng-model="quizVM.colors.two" value="green"> <i class="em  em-cactus"></i><br>
		<input type="radio" ng-model="quizVM.colors.two" value="red"> <i class="em  em-city_sunrise"></i><br>
		<input type="radio" ng-model="quizVM.colors.two" value="orange"> <i class="em  em-computer"></i><br>
		<input type="radio" ng-model="quizVM.colors.two" value="purple"> <i class="em  em-sunrise_over_mountains"></i><br>
		<input type="radio" ng-model="quizVM.colors.two" value="blue"> <i class="em  em-speedboat"></i><br>
		<input type="radio" ng-model="quizVM.colors.two" value="yellow"> <i class="em   em-house"></i>
	

	<h4>3. Choose a purpose.</h4>
 	
		<input type="radio" ng-model="quizVM.colors.three" value="orange"> Following your dreams<br>
		<input type="radio" ng-model="quizVM.colors.three" value="red"> Giving Love<br>
		<input type="radio" ng-model="quizVM.colors.three" value="green"> Learning and Improving<br>
		<input type="radio" ng-model="quizVM.colors.three" value="purple"> Making a difference<br>
		<input type="radio" ng-model="quizVM.colors.three" value="yellow"> Creating memories<br>
		<input type="radio" ng-model="quizVM.colors.three" value="blue"> Exploring the world</i>
	

	<h4>4. Choose an element.</h4>
 	
		<input type="radio" ng-model="quizVM.colors.four" value="green"> <i class="em  em-earth_americas"></i><br>
		<input type="radio" ng-model="quizVM.colors.four" value="blue"> <i class="em  em-ocean"></i><br>
		<input type="radio" ng-model="quizVM.colors.four" value="red"> <i class="em  em-fire"></i><br>
		<input type="radio" ng-model="quizVM.colors.four" value="yellow"> <i class="em  em-ear_of_rice"></i><br>

	
	
	<h4>5. Choose what you want now. </h4>
 	
		<input type="radio" ng-model="quizVM.colors.five" value="red"> <i class="em  em-pizza"></i>
				<i class="em  em-hamburger"> </i><i class="em  em-beer"></i><br>
		<input type="radio" ng-model="quizVM.colors.five" value="orange"> <i class="em  em-cookie"></i>
				<i class="em  em-cookie"> </i><i class="em  em-cookie"></i><br>
		<input type="radio" ng-model="quizVM.colors.five" value="purple"> <i class="em  em-cake"></i>
				<i class="em  em-coffee"> </i><i class="em  em-icecream"></i><br>
		<input type="radio" ng-model="quizVM.colors.five" value="green"> <i class="em  em-banana"></i>
				<i class="em  em-apple"> </i><i class="em  em-grapes"></i><br>
		<input type="radio" ng-model="quizVM.colors.five" value="blue"> <i class="em  em-sushi"></i>
				<i class="em  em-rice"> </i><i class="em  em-bento"></i><br>
		<input type="radio" ng-model="quizVM.colors.five" value="yellow"> <i class="em   em-bread"></i>
				<i class="em  em-egg"> </i><i class="em  em-poultry_leg"></i>


	<h4>6. Pick your current motto.</h4>
 	
		<input type="radio" ng-model="quizVM.colors.six" value="blue"> "Everything is about balance"<br> 
		<input type="radio" ng-model="quizVM.colors.six" value="green"> "It's now or never"<br>
		<input type="radio" ng-model="quizVM.colors.six" value="purple"> "Slow and steady wins the race"<br> 
		<input type="radio" ng-model="quizVM.colors.six" value="red"> "All you need is love"<br>
		<input type="radio" ng-model="quizVM.colors.six" value="orange"> "The ends justify the means"<br>
		<input type="radio" ng-model="quizVM.colors.six" value="yellow"> "Tomorrow is a new day" 
	

	<h4>7. Who do you prefer to spend your free time with?</h4>
 	
		<input type="radio" ng-model="quizVM.colors.seven" value="red"> significant other<br> 
		<input type="radio" ng-model="quizVM.colors.seven" value="blue"> family<br>
		<input type="radio" ng-model="quizVM.colors.seven" value="orange"> best friend<br>
		<input type="radio" ng-model="quizVM.colors.seven" value="yellow"> pet<br> 
		<input type="radio" ng-model="quizVM.colors.seven" value="green"> meeting new people<br> 
		<input type="radio" ng-model="quizVM.colors.seven" value="purple"> alone
	

	<h4>8. Would you choose the light side or the dark side?</h4>
 	
		<input type="radio" name="side" value="light"> <i class="em  em-white_circle"></i><br>
		<input type="radio" name="side" value="dark"> <i class="em  em-black_circle"></i><br>

	<input type="button" class="button button-block button-balanced" ng-click="quizVM.findColor()" value="Submit">
	
		
	</form>


 <!-- 	
 	<div id="cameraPic">  
 		<button class="button button-block button-positive" ng-click="QuizVM.capturePhoto()">
		  <input type="file" name="upload" id ="uploading">
		</button>
 		
 	</div>	 -->

 	 

 	</ion-content>
 </ion-view>




