<ion-view title="quiz" id="page3">
  <ion-content padding="true" class="has-header">
<br>
<h2>Choose the option that <b>currently</b> suits you</h2>
<div id ="formDiv">  
<form action="" class="questions">		
	<div class="list card">
    	<div class=" item item-body">
    		<img src="img/emoji.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    	</div>	
		<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.one" value="yellow/orange"> 😀 😊 🙂 <br>
			<input type="radio" ng-model="quizVM.colors.one" value="blue/green"> 😪 😢 😰<br>
			<input type="radio" ng-model="quizVM.colors.one" value="red"> 😒 😠 😤<br>
			<input type="radio" ng-model="quizVM.colors.one" value="purple"> 😐 😕 😌
		<!--{{quizVM.colors.one}}-->
		</div>
	</div>	

	<div class="list card">
      	<div class="item item-body">
          <img src="img/desert.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
     	</div>
 		<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.two" value="yellow/orange"> 🏜️ 🌵 🏕️<br>
			<input type="radio" ng-model="quizVM.colors.two" value="red"> 🏙️ 🏠 🏢<br>
			<input type="radio" ng-model="quizVM.colors.two" value="blue/green"> 🏖️ 🚣 🏝️  <br>
			<input type="radio" ng-model="quizVM.colors.two" value="purple"> ⛰️ 🚵 🗻
		</div>	
	</div>
			
	<div class="list card">	
		<div class="item item-body">
      		<img src="img/sunrise.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    	</div>
    	<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.three" value="red"> Following your dreams<br>
			<input type="radio" ng-model="quizVM.colors.three" value="blue/green"> Learning and Improving<br>
			<input type="radio" ng-model="quizVM.colors.three" value="purple"> Making a difference<br>
			<input type="radio" ng-model="quizVM.colors.three" value="yellow/orange"> Creating memories
		</div>
	</div>			
	

	<div class="list card">
		<div class="item item-body">
			<img src ="img/elements.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
 		</div>
 		<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.four" value="purple"> 🌎 🌎 🌎<br>
			<input type="radio" ng-model="quizVM.colors.four" value="blue/green"> 🌊 🌊 🌊<br>
			<input type="radio" ng-model="quizVM.colors.four" value="red"> 🔥 🔥 🔥<br>
			<input type="radio" ng-model="quizVM.colors.four" value="yellow/orange"> 🌬️ 🌬️ 🌬️
		</div>	
	</div>
	
	<div class="list card">
		<div class="item item-body">
			<img src="img/sweets.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
		</div>	
 		<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.five" value="purple"> 🍬 🎂 🍪 <br>
			<input type="radio" ng-model="quizVM.colors.five" value="yellow/orange"> 🍕 🍔 🍟 <br>
			<input type="radio" ng-model="quizVM.colors.five" value="blue/green"> 🍺 🍦 🍾 <br>
			<input type="radio" ng-model="quizVM.colors.five" value="red"> 🍵 🍜 ☕ 
		</div>
	</div>

	<div class="list card">
		<div class="item item-body">
			<img src="img/motto.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
		</div>
 		<div class ="answers">
			<input type="radio" ng-model="quizVM.colors.six" value="purple"> "Everything happens for a reason"<br> 
			<input type="radio" ng-model="quizVM.colors.six" value="red"> "It's now or never"<br>
			<input type="radio" ng-model="quizVM.colors.six" value="blue/green"> "Slow and steady wins the race"<br> 
			<input type="radio" ng-model="quizVM.colors.six" value="yellow/orange"> "One day at a time"<br>
		</div>	
		
	</div>

	<input type="button" class="button button-block button-balanced" ng-click="quizVM.findColor()" value="Submit">
	
</form>
</div>

 <!-- 	
 	<div id="cameraPic">  
 		<button class="button button-block button-positive" ng-click="QuizVM.capturePhoto()">
		  <input type="file" name="upload" id ="uploading">
		</button>
 		
 	</div>	 -->

 	 

 	</ion-content>
 </ion-view>




